@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500");

h1,
h2,
h3,
h4 {
	font-family: "Rubik" !important;
	font-weight: 400 !important;
}

.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7 {
	margin: 0 auto;
}

input,
a,
p,
h5 {
	font-family: "Rubik";
	font-weight: 300;
}

a:hover {
	text-decoration: none !important;
	/* color: beige; */
}

.card {
	border-radius: 0 !important;
	display: flex;
}
.card-body {
	padding-top: 5vh !important;
	/* margin: 0 auto !important; */
}

.card-title {
	background-color: #efefef;
	padding: 0 2% 0 2%;
	color: #222;
	border: 0.15rem solid #222;
}

.card-hexa {
	/* margin-top: 16vh; */
	background-color: #efefef;
	/* padding: 0 2% 0 2%; */
	color: #222;
	position: absolute;
	top: 88%;
	border: 0.15rem solid #222;
}

.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

.App-header {
	/* background-color: #222; */
	height: 150px;
	padding: 20px;
	color: #222;
}

.App-header a {
	color: white;
	padding: 0 5px;
}

.App-title {
	font-size: 2rem;
}

.App-intro {
	font-size: large;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.form-control {
	width: 50% !important;
	margin: 0 auto;
	margin-bottom: 2rem !important;
}
